nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  font-family: "Source Serif 4", sans-serif;

  #logo-title {
    display: flex;
    flex-direction: row;

    #logo {
      width: 24px;
      height: 24px;
      object-fit: cover;
      margin-right: 0.4rem;
    }

    #title {
      font-weight: bold;
      font-size: 18px;
      margin-top: 0;
    }
  }

  #nav {
    display: flex;
    flex-direction: row;

    p {
      margin: 5px 10px;
      color: #000;
      font-weight: 400;
    }

    .active-nav {
      font-weight: 600;
      color: #101c45 !important;
    }
  }

  #login-booknow {
    display: flex;
    flex-direction: row;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    margin-right: 3rem;

    p {
      margin: 0 10px;
    }

    #booknow {
      border: 1px solid black;
      padding: 2px 5px;
    }
  }
}
